.App {
  background-color: rgba(80, 80, 80, 0.981);
  text-align: center;
}

.App footer {
  color: white;
  font-size: 25px;
  padding: 40px 45px;
}

.App footer a {
  color: white;
  font-size: 30px;
  font-style: bold;
  text-decoration: none;
}
