.App {
  background-color: black;
  margin: 30px auto;
  max-width: 600px;
  padding: 20px 20px;
  text-align: center;
}

.App .emoji {
  font-size: 15px;
  text-shadow: 0 4px 6px rgb(240, 12, 115);
}

.App footer {
  color: white;
  font-size: 12px;
}

.App footer a {
  color: white;
  font-size: 14px;
  font-style: bold;
  text-decoration: none;
  text-shadow: 0 2px 5px rgb(143, 168, 140);
}
