.App {
  background-color: #270c14;

  font-family: "Outfit", sans-serif;

  font-weight: 400;
  font-style: normal;
  margin: 30px auto;
  max-width: 600px;
  padding: 20px 20px;
  text-align: center;
}

.App footer {
  color: white;
  font-size: 12px;
}

.App footer a {
  color: white;
  font-size: 16px;
  font-style: bold;
  text-decoration: none;
  text-shadow: 0 2px 5px black;
}

.App footer a:hover {
  text-decoration: none;
  text-shadow: 0 2px 5px yellow;
}
