.Weather {
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(28, 28, 28, 0.05),
    0 15px 40px rgba(28, 28, 28, 0.2);
  color: #bbceb2;
  margin: 30px auto;
  max-width: 700px;
  padding: 16px;
}

.Weather h1 {
  font-size: 56px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.Weather h2 {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  padding: 5px 0;
  text-align: center;
}

.Weather li {
  color: rgb(233, 121, 221);
  font-size: 18px;
  font-weight: 200;
  line-height: 19px;
  list-style-type: none;
  margin-top: 5px;
}

.Weather canvas {
  display: inline-block;
  margin-top: 0;
  padding: 0;
}

.Weather .temperature-number {
  color: #bbceb2;
  font-size: 75px;
  font-weight: 300;
  margin-top: 0;
  padding: 0;
}

.Weather .unit {
  color: #bbceb2;
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -38px;
}

.Weather a {
  color: black;
  font-size: 20px;
}

.Weather .button {
  background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
  border-radius: 10px;
  color: #000;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-left: 10px;
  padding: 6px 15px;
  text-shadow: 1px 1px 2px var(--secondary-color);
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.Weather .button:hover {
  box-shadow: 0 4px 8px #bbceb2;
  color: black;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  text-shadow: 0.05em 0.05em 0.05em #bbceb2;
}

.Weather .form-control {
  border-color: black;
  border-radius: 10px;
  color: #000;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 6px 25px;
  text-align: center;
}

.Weather .loader {
  margin: 0 auto;
  padding: 100px 100px;
}

.WeatherInfo-moon {
  text-align: left;
  white-space: nowrap;
}

@media (max-width: 960px) {
  .WeatherInfo h1 {
    font-size: 40px;
  }
  .WeatherInfo h2 {
    font-size: 15px;
  }

  .Weather .temperature-number {
    font-size: 50px;
  }

  .Weather .unit {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: -10px;
  }

  .Weather .form-control {
    font-size: 10px;
    font-weight: 500;
  }

  .Weather .button {
    font-size: 10px;
    font-weight: 500;
    margin-left: -15px;
  }

  .Weather canvas {
    display: flex;
  }

  .Weather li {
    display: block;
    font-size: 14px;
    font-weight: 200;
    justify-content: left;
    line-height: 1.5;
  }

  .WeatherInfo .emoji {
    text-align: left;
  }

  .WeatherInfo .WeatherInfo-moon {
    display: block;
    white-space: pre-wrap;
  }
}
