.Weather {
  background-color: black;
  border-radius: 5px;
  color: #bbceb2;
  margin: 30px auto;
  max-width: 600px;
  padding: 16px;
}

.Weather h1 {
  font-size: 48px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.Weather li {
  color: rgb(233, 121, 221);
  font-size: 18px;
  font-weight: 200;
  line-height: 19px;
  list-style-type: none;
  margin-top: 5px;
}

.Weather canvas {
  display: inline-block;
  margin-right: 15px;
}

.Weather .temperature-number {
  color: #bbceb2;
  font-size: 75px;
  font-weight: 300;
}

.Weather .unit {
  color: #bbceb2;
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -38px;
}

.Weather a {
  color: rgb(233, 121, 221);
  font-size: 20px;
}

.Weather .button {
  background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
  border-radius: 10px;
  color: #000;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-left: 10px;
  padding: 6px 15px;
  text-shadow: 1px 1px 2px var(--secondary-color);
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.Weather .button:hover {
  box-shadow: 0 4px 8px #bbceb2;
  color: black;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  text-shadow: 0.05em 0.05em 0.05em #bbceb2;
}

.Weather .form-control {
  border-radius: 10px;
  color: #000;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 6px 25px;
  text-align: center;
}

.Weather .loader {
  margin: 0 auto;
  padding: 100px 100px;
}
