.Weather {
  background-color: black;
  border-radius: 5px;
  color: aqua;
  font-family: "Quicksand", sans-serif;
  margin: 30px auto;
  max-width: 600px;
  padding: 16px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
  list-style-type: none;
}

.Weather img {
  display: inline-block;
  height: 64px;
  margin-right: 10px;
  width: 64px;
}

.Weather .temperature-number {
  color: rgb(2, 228, 228);
  font-size: 64px;
  font-weight: bold;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: rgb(2, 228, 228);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin-left: 5px;
  position: relative;
  top: -34px;
}

.Weather .button {
  background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(143, 168, 140);
  color: #000;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-left: 20px;
  padding: 10px 15px;
  text-shadow: 1px 1px 2px var(--secondary-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.Weather .button:hover {
  box-shadow: 0 4px 8px rgb(249, 249, 249);
  color: black;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  text-shadow: 0.05em 0.05em 0.05em white;
  transform: translateY(-2px);
}

.Weather .form-control {
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(143, 168, 140);
  color: #000;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 25px;
  text-align: center;
}

.Weather p {
  color: red;
}
